@font-face {
  font-family: Montserrat-Regular;
  src: url(./Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(./Montserrat/Montserrat-ExtraBold.ttf);
}

.montserrat-400 {
  font-family: Montserrat-Regular;
}
.montserrat-500 {
  font-family: Montserrat-Medium;
}

.montserrat-600 {
  font-family: Montserrat-SemiBold;
}

.montserrat-700 {
  font-family: Montserrat-Bold;
}

.montserrat-800 {
  font-family: Montserrat-ExtraBold;
}
