#cards-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #010040;
  align-items: center;
}

.info-card {
  display: flex;
  position: relative;
  width: 75%;
  height: 300px;
  background: rgb(255, 255, 255);
  margin: 40px;
  border-radius: 0 10px 10px 0;
}
.info-card > button {
  font-size: 20px;
  position: absolute;
  background: #6200ff;
  border: none;
  right: 0;
  bottom: 0;
  color: white;
  height: 300px;
  width: 100px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.3s linear;
}
.info-card > button:hover {
  background: whitesmoke;
  color: #6200ff;
  width: 110px;
}

.cardPhoto {
  height: 300px;
  width: 360px;
}
